@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

body {
  margin: 0;
  font-family: 'Sora';
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161D30;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Main {
  max-width: 80vh;
  max-height: 80vh;
  padding: 60px 100px;
  /* padding:0; */
  margin: 0 auto;
  text-align: left;

}


input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  width: 100%;
  background-color: #161D30;
  line-height: 32px;
  border-color: #FFFFFF;
  font-family: 'Sora';
  color: #FFFFFF;
}

input:focus {
  outline: none;
  border-color: #FFFFFF;
}


button {
  padding: 9px 16px;
  /* max-height: 40px; */
  border-color: #254cdd;
  color: #254cdd;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Sora';
  text-align: center;
  font-weight: bold;
  cursor:pointer;
}



#title {
  padding-top: 32px;
}

#status {
  color: #FFFFFF;
  font-size: 16px;
  padding: 30px;
  text-align: center;
}

#output {
  color: #FFFFFF;
  font-size: 16px;
  padding: 30px;
  text-align: left;
}

/* .uploadFile {
  border: 4px dashed rgba(4, 4, 5, 0.1);
  border-radius: 16px;
  text-align: center;
  padding: 32px 60px;
} */


#walletButton {
  text-align: right;
  float:right;
  margin-bottom: 50px;
  line-height: 16px;
  color: #B72193;
  border-color: #161D30;

}

#actionButton {
  margin-top: 40px;
  background-color: #B72193;
  border-color: #B72193;
  color:white;
}



#circleButton {
  /* padding: 50px 10px; */
  background-color: #B72193;
  border-color: #B72193;
  color:white;
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 100px;
  border-radius: 50%;
  cursor: default;
}

#squareButton {
  background-color: #B72193;
  border-color: #B72193;
  color:white;
  width: 300px;
  height: 100px;
  border-radius: 50%;
  cursor: default;
}


.header {
  padding: 5px;
  text-align: center;
  background: #B72193;
  color: white;
  font-size: 20px;
  /* border-radius: 150px; */
}
.header2 {
  padding: 5px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 20px;
  /* border-radius: 150px; */
  border-color: #f3aae2;
}

a {
  color: #B72193;
}